<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGoZAqCXThWt6eKOmZorH71T1GP3_urA4</string>
	<key>GCM_SENDER_ID</key>
	<string>344827798495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.folderStucture</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e88e6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e88e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344827798495:ios:f30126698c8e1b2bd11a6a</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-e88e6-default-rtdb.firebaseio.com</string>
</dict>
</plist>